header {
  display: flex;
  background-color: white;
  height: 56px;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 21px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 138px;
  margin-left: 24px;
}

.hamburger-menu {
  height: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 60px;
  max-width: 500px;
}

.search-bar {
  height: 36px;
  border: 1px solid rgb(206, 206, 206);
  flex: 1;
  font-size: 16px;
  align-content: center;
  padding-left: 12px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: rgb(149, 149, 149);
  border-color: 0 solid blue;
}

.search-button {
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(206, 206, 206);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 19px 3px 20px;
  margin-right: 8px;
  margin-left: -1px;
  cursor: pointer;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload .tooltip,
.youtube-apps .tooltip,
.notifications-icon-container .tooltip {
  background-color: rgb(123, 123, 123);
  color: white;
  font-size: 12px;

  padding: 8px;
  border-radius: 2px;

  position: absolute;
  bottom: -30px;

  opacity: 0;
  transition: opacity 0.15s;

  pointer-events: none;
  text-wrap: nowrap;
}

.voice-search-button .tooltip {
  bottom: -40px;
  right: -48px;
}

.search-button .tooltip {
  bottom: -41px;
  left: 4px;
}

.upload .tooltip,
.youtube-apps .tooltip,
.notifications-icon-container .tooltip {
  bottom: -45px;
}

.upload .tooltip {
  left: -10px;
}

.youtube-apps .tooltip {
  left: -28px;
}

.notifications-icon-container .tooltip {
  left: -26px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload:hover .tooltip,
.youtube-apps:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-button:hover {
  background-color: rgb(236, 236, 236);
}

.search-icon {
  height: 24px;
  margin-top: 4px;
}

.voice-search-button {
  background-color: rgb(247, 247, 247);
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

.right-section {
  display: flex;
  width: 182px;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  margin-left: 29px;
}

.upload,
.notifications-icon-container,
.youtube-apps {
  position: relative;
  margin-top: 4px;
}

.notifications-count {
  background-color: rgb(209, 0, 0);
  color: white;
  font-size: 10px;
  border-radius: 20px;
  padding: 1px 4px 1px 4px;

  position: absolute;
  top: -2px;
  right: -4px;
  border: 1px solid white;
}

.upload-icon,
.notifications-icon,
.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}

.profile-picture {
  height: 32px;
  border-radius: 20px;
  cursor: pointer;
}

/*














*/
/* .header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(194, 194, 194);
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  background-color: rgb(250, 250, 250);
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.search-bar {
  flex: 1;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(194, 194, 194);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.right-section {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-right: 26px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.my-channel-picture {
  height: 32px;
  border-radius: 20px;
} */
